
<aside class="pageCategories">
<ul>
<li><a href="index">| HOME |</a></li>
<li><a href="categories">| CATEGORIES |</a></li>
<li><a href="store">| STORE |</a></li>
<li><a href="about">| ABOUT |</a></li>
<li><a href="contact">| CONTACT US | </a></li>
</ul>

<table class="joinUs">
<tr><th></th><th>JOIN US !<br><br></th></tr>
<tr><th>Email</th><th><input type="text" name="userEmail" size="15"></th></tr>
<tr><th><br>Password</th><th><input type="password" name="password" size="15"></th></tr>
<tr><th></th><th><input type="submit" value="Join now"></th></tr>
</table>

</aside>
