<div class="myCategories">
<nav>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<ul>
<li><a href="mySwaps">My swaps |</a></li>
<li><a href="mycart">My cart |</a></li>
<li><a href="myorders">My orders |</a></li>
</ul>
</nav>
<div class="signInSection">
<a>Sign in</a>
</div>
</div>

