<!DOCTYPE html>
<html lang="en">
<head>
 <title>
      N item Swap
      </title>
   </head>
<body>
	<!--
<% include partials/header.ejs %> 
<% include partials/user-navigation.ejs %>

<% include partials/site-navigation.ejs %>
-->
<article class="articleClass">
<section>
<br>
<h2> What is N item Swap ?</h2>
<p> N item swap is way you can swap "any" of your item to strangers. It completely your choice of item to be swapped and asked
for a return in place of it. Everything would happen in a controlled process by us. We believe to take care of your item and make sure
it provides your the most value.</p>
<h3> Search ! Choose ! Swap ! Care  !</h3>
</section>
</article>

<!--<% include partials/footer.ejs %> -->

</html>