<!DOCTYPE html>
<html lang="en">
<head>
 <title>
      N item Swap
      </title>
   </head>
<body>
<% include partials/header.ejs %> 
<% include partials/user-navigation.ejs %>

<% include partials/site-navigation.ejs %>
      
      <ul class="navigation">
         <li><a href="index.html">Home</a></li>
         <li>My store</li>
      </ul>
      <article class="articleClass">
         <h2>Apologies ! Page under construction !</h2>
         <section>
            <h3>Please navigate other pages meanwhile</h3>
         </section>
      </article>
       <% include partials/footer.ejs %>
   </body>
</html>