<!DOCTYPE html>
<html lang="en">
   <head>
 <title>
      N item Swap
      </title>
   </head> 
   <body>
<% include partials/header.ejs %>
<% include partials/user-navigation.ejs %>

<% include partials/site-navigation.ejs %>
      <ul class="navigation">
         <li><a href="index.html">Home</a></li>
         <li>Sign in</li>
      </ul>
      <article class="articleClass">
         <h2>Sign in</h2>
         <section>
            <h3>You need to login first before swapping any item !</h3>
            <table class="sectionTable">
               <tr>
                  <th></th>
               </tr>
               <tr>
                  <th>Email/Username</th>
                  <th><input type="text" name="userEmail" size="15"></th>
               </tr>
               <tr>
                  <th><br>Password</th>
                  <th><input type="password" name="password" size="15"></th>
               </tr>
               <tr>
                  <th></th>
                  <th><button class="button swapButton">Sign in</button></th>
               </tr>
            </table>
         </section>
      </article>
       <% include partials/footer.ejs %>
   </body>
</html>