<!DOCTYPE html>
<html lang="en">
<head>
   <title>
      N item Swap
      </title>
   </head>
   <body>
      <% include partials/header.ejs %> 
     <% include partials/user-navigation.ejs %>
   <% include partials/site-navigation.ejs %>

      <ul class="navigation">
         <li><a href="index">Home</a></li>
         <li>about</li>
      </ul>
      <article class="articleClass">
         <h2>About us !</h2>
         <section>
            <h3>We are not a team but a community !!</h3>
            <table class="sectionTable">
               <tr>
                  <th></th>
               </tr>
               <tr>
                  <td>
                     <p>We as a part of N Item Swaps community aims to reduce waste of resources around our society. In today's world each and every resource/item has a important value and as an individual, it needs to be preserved/used to a greater extent. In our day to day life, there are many small or large items which we
                        are not using it and at the same time we are always in need to some or the other item to fulfill our needs. Therefore, this is the place where you can over come with same situation. 
                     </p>
                     <h4>
                        @Developed by - <br>
                     </h4>
                     <h5>Amit Pandit</h5>
                     <h6>University of North Carolina at Charlotte</h6>
                  </td>
               </tr>
            </table>
         </section>
      </article>
      <% include partials/footer.ejs %>
      
   </body>
</html>