<!DOCTYPE html>
<html lang="en">
<head>
 <title>
      N item Swap
      </title>
   </head>
   <body>
<% include partials/header.ejs %> 
<% include partials/user-navigation.ejs %>

<% include partials/site-navigation.ejs %>
      <ul class="navigation">
         <li><a href="index">Home</a></li>
         <li>contact</li>
      </ul>
      <article class="articleClass">
         <h2>About us !</h2>
         <section>
            <h3>Congratulations. Your order is placed !!</h3>
            <table class="sectionTable">
               <tr>
                  You have succesfully swapped the item.We will send you a mail with your order details and its status.(Estimated time is 48 hours). Mean while we are working on your order, Please provide your valuable feedback by clicking <a href="offerFeedBack">here</a>
               </tr>
            </table>
         </section>
      </article>
      <% include partials/footer.ejs %>
   </body>
</html>