<!DOCTYPE html>
<html lang="en">
   <head>
 <title>
      N item Swap
      </title>
   </head> 
   <body>
<% include partials/header.ejs %>
<% include partials/user-navigation.ejs %>

<% include partials/site-navigation.ejs %>
      <ul class="navigation">
         <li><a href="index.html">Home</a></li>
         <li>Sign in</li>
      </ul>
      <article class="articleClass">
         <h2>Sign in</h2>
         <section>
            <h3>You need to login first before doing any activity !</h3>
            <form method="POST" action="/signup">
            <table class="sectionTable">
               <tr>
                  <th></th>
               </tr>
               <tr>
                  <th>First Name</th>
                  <th><input type="text" name="firstName" size="15"></th>
               </tr>
               <tr>
                  <th>Last Name</th>
                  <th><input type="text" name="lastName" size="15"></th>
               </tr>
                <tr>
                  <th>Email</th>
                  <th><input type="text" name="email" size="15"></th>
               </tr>
                <tr>
                  <th>Address field 1</th>
                  <th><input type="text" name="addressField1" size="15"></th>
               </tr>
               <tr>
                  <th>Address field 2</th>
                  <th><input type="text" name="addressField2" size="15"></th>
               </tr>
                 <tr>
                  <th>City</th>
                  <th><input type="text" name="city" size="15"></th>
               </tr>
                </tr>
                 <tr>
                  <th>State</th>
                  <th><input type="text" name="state" size="15"></th>
               </tr>
                <tr>
                  <th>Post Code</th>
                  <th><input type="text" name="postCode" size="15"></th>
               </tr>
               <tr>
                  <th>Country</th>
                  <th><input type="text" name="country" size="15"></th>
               </tr>
                <tr>
                  <th>password</th>
                  <th><input type="password" name="password" size="15"></th>
               </tr>
                  <th></th>
                  <th><br><button input=submit name="submit" value="submit">Register</button></th>
               </tr>
            </table>
         </form>
         </section>
      </article>
       <% include partials/footer.ejs %>
   </body>
</html>