<!DOCTYPE html>
<html lang="en">
   <head>
 <title>
      N item Swap
      </title>
   </head>   
   <body>
   <% include partials/header.ejs %> 

<% include partials/user-navigation.ejs %>

<% include partials/site-navigation.ejs %>

      <ul class="navigation">
         <li><a href="index.html">Home</a></li>
         <li>My items</li>
      </ul>
      <article class="articleClass">
         <h2>"N" Item Swap offers</h2>
         <section>
            <table class="sectionTable">
               <tr>
                  <th>Item</th>
                  <th>Swap Offer</th>
                  <th>Action</th>
               </tr>
               <tr>
                  <td><a href="item">Zero bicycle</a></td>
                  <td><a href="item">GRE Book</a></td>
                  <td><a href="item" class="button swapButton">Accept</a>&nbsp;<a href="#" class="button swapButton">Reject</a></td>
               </tr>
               <tr>
                   <td><a href="item">Table</a></td>
                  <td><a href="item">College Bag</a></td>
                  <td><a href="item" class="button swapButton">Withdraw swap</a></td>
               </tr>
              
            </table>
           
         </section>
      </article>
      <% include partials/footer.ejs %>
   </body>
</html>