
<aside class="pageCategories">
<ul>
<li><a href="/">| HOME |</a></li>
<li><a href="categories">| CATEGORIES |</a></li>
<li><a href="store">| STORE |</a></li>
<li><a href="about">| ABOUT |</a></li>
<li><a href="contact">| CONTACT US | </a></li>
</ul>

</aside>
